.List-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px 0px;
}

.itemText {
    word-break: break-all;
}

.material-icons {
    position: absolute;
    background: none;
    border: none;
    left: 95%;
}

.material-icons:focus {
    outline: none;
}

.List-item:hover .material-icons {
    color: #D72638; 
}

.Complete-button {
    font-family: Montserrat;
    background-color: white;
    border: 2px solid #F22B29;
    color: #F22B29;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 20px;
    height: 40px;
    width: 100px;
    margin-left: 0px;
}

.Complete-button:focus {
    outline: none;
}

.Complete-button:hover {
    box-shadow: 2px 2px 2px #D72638; 
}

ol {
    padding-left: 0px;
}

.Complete .Complete-button {
    display: none;
}

.Complete {
    text-decoration: line-through;
}
